<%= form_for @recipe do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<h3> Select From Ingredients </h3>
<%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %>
<h3>Create New Ingredients: </h3>
    <%= f.fields_for :ingredients do |i| %>
    <%= i.label :name %>
    <%= i.text_field :name%>
<% end %>
<%= f.submit %>
<% end %>